name: four_in_a_row
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.2.0+16

environment:
  sdk: ">=2.12.0-0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.1+1
  flutter_vibrate: ^1.0.0
  web_socket_channel: ^1.1.0
  flutter_keyboard_visibility: ^4.0.3-beta.0
  shared_preferences: ^0.5.7
  url_launcher: ^5.4.5
  http: ^0.12.1
  equatable: ^1.1.1
  flutter_local_notifications: ^3.0.2
  provider: ^4.3.2+2
  tuple: ^1.0.3
  android_intent: ">=0.3.7+7 <2.0.0"
  connectivity: ^2.0.2
  stream_channel: ^2.1.0-nullsafety.3
  lottie: ^0.8.0-nullsafety.3

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  assets:
    - assets/img/
    - assets/lottie/reactions/
    - assets/lottie/reactions/images/

  fonts:
    - family: Arvo
      fonts:
        - asset: assets/fonts/Arvo/Arvo-Regular.ttf
        - asset: assets/fonts/Arvo/Arvo-Bold.ttf
          weight: 700
        - asset: assets/fonts/Arvo/Arvo-Italic.ttf
          style: italic
        - asset: assets/fonts/Arvo/Arvo-BoldItalic.ttf
          style: italic
          weight: 700
    - family: RobotoSlab
      fonts:
        - asset: assets/fonts/RobotoSlab/RobotoSlab-Regular.ttf
        - asset: assets/fonts/RobotoSlab/RobotoSlab-Bold.ttf
          weight: 700
        - asset: assets/fonts/RobotoSlab/RobotoSlab-Black.ttf
          weight: 900
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
